@import '~antd/dist/antd.css';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 28px;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.profile-button {
  padding-right: 10px;
  cursor: pointer;
  font-weight: bold;

  &.ant-dropdown-open {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .user-full-name {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.suggestion-container {
  padding-left: 10px;
  .ant-card {
    background: #1890ff;
    color: white;
    font-weight: bold;
  }
}
