.ant-layout.landing-page-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .access-container {
    max-width: 500px;
    padding: 20px;
    background-color: white;
  }
}
